# Server Configuration
PORT=5000
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# MongoDB Configuration
# For MongoDB Atlas: MONGODB_URI=mongodb+srv://<username>:<password>@cluster.mongodb.net/kram?retryWrites=true&w=majority
# For Local MongoDB: MONGODB_URI=mongodb://127.0.0.1:27017/kram
MONGODB_URI=mongodb://127.0.0.1:27017/kram

# JWT Secrets & Expiration
JWT_ACCESS_SECRET=kram_super_secret_access_jwt_key_2026_change_in_production
JWT_REFRESH_SECRET=kram_super_secret_refresh_jwt_key_2026_change_in_production
ACCESS_TOKEN_EXPIRES_IN=15m
REFRESH_TOKEN_EXPIRES_IN=7d
